a {
  text-decoration: none;
}

.links {
  width: 100%;
  display: flex;
}

#message {
  width: 100%;
  border: none;
}

.links a {
  display: inline-block;
}

.links svg {
  fill: var(--bs-primary);
}

.form-check-input {
  border: 1px solid black;
}

#microphone {
  margin-left: auto;
}





